bitarray==1.2.2
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cx-Oracle==8.0.0
Flask==1.1.1
Flask-HTTPAuth==3.3.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
ply==3.11
requests==2.22.0
six==1.15.0
thrift==0.13.0
thriftpy2==0.4.11
urllib3==1.25.3
Werkzeug==0.15.5
